/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.list-group-item{
  cursor: pointer;
}

.input-label{
  background:rgba(0,0,0,0);
  border:none;
  cursor: pointer;
}

mat-card {
  border-radius: 35px !important;
}

mat-select {
  border-radius: 35px !important;
}

.input-label-lg{
  background:rgba(0,0,0,0);
  border:none;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
  border-radius: 35px !important;
}

input {
  border-radius: 35px !important;
}

html, body { height: 100%;}
body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
  background-color: #F8F9FA;
}

