/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.list-group-item{
  cursor: pointer;
}

.input-label{
  background:rgba(0,0,0,0);
  border:none;
  cursor: pointer;
}

mat-card {
  border-radius: 35px !important;
}

mat-select {
  border-radius: 35px !important;
}

.mat-dialog-container {
  border-radius: 35px !important;
}

/*.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/

.input-label-lg{
  background:rgba(0,0,0,0);
  border:none;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

mat-card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
  border-radius: 35px !important;
}

input {
  border-radius: 35px !important;
}

textarea {
  border-radius: 35px !important;
}

.nopadding {
  padding: 0 !important;
  margin-left: 0;
  margin-right: 0;
  span {
    position:absolute;
    bottom:0;
  }
}

html, body { height: 100%;}
body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
  background-color: #F8F9FA;
}

.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  min-height: calc(100vh - 60px);
}
@media (max-width: 767px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
}


