fa-icon {
  font-size: 22px;
}

.blink {
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

fa-icon, button:focus, button:active:focus, button.active:focus  {
  outline: none;
}
