<mat-card class="w-100">
  <form #f="ngForm" (ngSubmit)="f.form.valid" novalidate class="feedback-form">
    <label>{{'new-auction.price' | translate}}</label>
    <div class="row">
      <div class="col-lg-6 col-md-12 form-group">
        <input type="number"
               name="minPrice"
               name="minPrice"
               class="form-control"
               [(ngModel)]="minPrice"
               [ngClass]="{ 'is-invalid': f.submitted && maxPrice != 0 && minPrice != 0 && maxPrice < minPrice}"
               placeholder="{{'filter.from' | translate}}"/>
      </div>
      <div class="col-lg-6 col-md-12 form-group">
        <input type="number"
               name="maxPrice"
               class="form-control"
               [(ngModel)]="maxPrice"
               [ngClass]="{ 'is-invalid': f.submitted && maxPrice != 0 && minPrice != 0 && maxPrice < minPrice}"
               placeholder="{{'filter.to' | translate}}"/>
      </div>
    </div>
    <label *ngIf="minPrice > maxPrice">{{'new-auction.price' | translate}}</label>
    
    <div class="form-group">
      <label>{{'new-auction.condition' | translate}}</label><br>
      <mat-select class="form-control w-100"
                  [(ngModel)]="selectedCondition"
                  name="condition">
        <mat-option *ngFor="let condition of conditions" [value]="condition">{{condition}}</mat-option>
      </mat-select>
    </div>
    <div *ngIf="category != 'ALL'">
      <div class="form-group" *ngFor="let attribute of attributes">
        <label>{{attribute.attribute}}</label><br>
        <mat-select class="form-control" (selectionChange)="selectValues($event, attribute.attribute)" multiple>
          <mat-option *ngFor="let value of attribute.attributeValues" [value]="value.value">{{value.value}}</mat-option>
        </mat-select>
      </div>
    </div>
    <button (submit)="f" (click)="setFilters()" type="button" class="w-100 h-100 btn btn-primary mt-4">{{"search" | translate}}</button>
  </form>
</mat-card>
