<div class="row h-100">
  <div class="col-2">
    <button type="button" (click)="sendSelectedCategory('Telefony')"
            class="btn btn-dark w-100">{{'categories.phone' | translate}}</button>
  </div>
  <div class="col-2">
    <button type="button" (click)="sendSelectedCategory('Laptopy')"
            class="btn btn-dark w-100">{{'categories.pc' | translate}}</button>
  </div>
  <div class="col-2">
    <button type="button" (click)="sendSelectedCategory('Tablety')"
            class="btn btn-dark w-100">{{'categories.tablet' | translate}}</button>
  </div>
  <div class="col-2">
    <button type="button" (click)="sendSelectedCategory('Telewizory')"
            class="btn btn-dark w-100">{{'categories.tv' | translate}}</button>
  </div>
  <div class="col-2">
    <button type="button" (click)="sendSelectedCategory('Gry i konsole')"
            class="btn btn-dark w-100">{{'categories.consoleGames' | translate}}</button>
  </div>
  <div class="col-2">
    <button type="button" (click)="sendSelectedCategory('Fotografia')"
            class="btn btn-dark w-100">{{'categories.photo' | translate}}</button>
  </div>
</div>
