<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-10 col-md-7 col-lg-5 mt-3">
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && login()" novalidate class="feedback-form">
        <div *ngIf="invalidSignIn" class="invalid-input text-danger">{{'register.incorrect' | translate}}</div>
        <div *ngIf="accountNotActivated" class="invalid-input text-danger">{{'auth.account.inactive' | translate}}</div>
        <!-- Username -->
        <div class="form-group">
          <label for="username">{{'register.login' | translate}}</label>
          <input type="text"
                 id="username"
                 class="form-control"
                 name="username"
                 placeholder="{{'register.urLogin' | translate}}"
                 [(ngModel)]="model.username"
                 required minlength="5"
                 #username="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && username.invalid }"
                 required/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && username.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="username.errors?.required">{{'register.isEmpty' | translate}}</div>
            <div *ngIf="username.errors?.minlength">{{'register.toSmall5' | translate}}</div>
          </div>
        </div>
        <!-- Password -->
        <div class="form-group">
          <label for="password">{{'register.password' | translate}}</label>
          <input type="password"
                 id="password"
                 class="form-control"
                 name="password"
                 placeholder="{{'register.urPassword' | translate}}"

                 [(ngModel)]="model.password"
                 #password="ngModel"
                 required minlength="7"
                 [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                 required/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && password.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="username.errors?.required">{{'register.isEmpty' | translate}}</div>
            <div *ngIf="username.errors?.minlength">{{'register.toSmall7' | translate}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <label class="form-check-label ml-4 mt-2 cursor-pointer" for="rememberMe">
              <input class="form-check-input cursor-pointer" [(ngModel)]="model.rememberMe" type="checkbox" name="rememberMe" id="rememberMe">
              <span>{{'register.remember' | translate}}</span>
            </label>
          </div>
          <div class="col-3 without-left-right-padding">
            <button  class="btn btn-info w-100" (click)="navigateToRegister($event)">
              <span>{{'register.signUp' | translate}}</span>
            </button>
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-info w-100">
              <span>{{'register.signIn' | translate}}</span>
            </button>
          </div>
          <div class="col-5 mt-3">
            <label class="form-check-label ml-2 cursor-pointer" routerLink="/account/remind-password">
              <span>{{'register.remind.password' | translate}}</span>
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
