.auction-card {
  margin-top: 1rem;
  width: 100%;
}

.font-size {
  font-size: 1.0rem;
}

.floating-div{
  display: flex;
  align-items:center;
}

.inline{
  min-height: 5em;
  display: table-cell;
  vertical-align: middle
 }



::ng-deep .mat-card{
  border: 55px solid #000;
  border-radius: 35px !important;
  border: #000 !important;
}

@media (max-width: 992px) {
  .col-lg-margin-top {
    margin-top:1vh;
  }
}

@media (max-width: 1200px) {
  .col-md-6-mt-2 {
    margin-top:1vh;
  }
}

@media (max-width: 768px) {
  .col-mt-2 {
    margin-top: 1vh;
  }
}

@media (min-width: 768px) {
  @media (max-width: 992px) {
    .inline {
      width: 100%!important;
    }
  }
}



