<div>
  <mat-card>
    <div class="row">
      <div class="col-7 row">
        <div class="col-4">
          <div class="h-100 w-100 text-left d-inline-block">
            <div class="h-100 w-50 float-left">
              <input class="h-75 w-100 inline pl-2" [checked]="auctions?.length === selectedAuctions?.length" type="checkbox" (click)="selectAllAuctions()"/>
            </div>
            <div class="h-100 w-50 floatingDiv float-right">
              {{'myAuction.all' | translate}}
            </div>
          </div>
        </div>
        <div class="col-3">
          <button class="w-100 h-100 btn btn-primary text-center" (click)="removeSelectedAuctions()">{{'myAuction.delete' | translate}}</button>
        </div>
        <div class="col-4">
          <mat-select class="form-control w-100"
                      [(value)]="selectedState"
                      (selectionChange)="selectState($event)" multiple>
            <mat-option *ngFor="let state of states" [value]="state">{{state| translate}}</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="col-3">
        <mat-select class="form-control w-75 float-right" [(value)]="sortValue"
                    (selectionChange)="selectSort($event)">
          <mat-option *ngFor="let value of sortList" [value]="value">{{value | translate}}</mat-option>
        </mat-select>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-3 nopadding">
            <button [disabled]="page <= 1" (click)="changeInput(-1)" type="button"
                    class="btn btn-primary btn-circle btn-xl float-right"><
            </button>
          </div>
          <div class="col-4 nopadding">
            <input type="text"
                   name="minPrice"
                   [value]="inputValue"
                   class="form-control w-100 text-center" disabled/>
          </div>
          <div class="col-5 float-left nopadding float-left">
            <button [disabled]="page == amountOfPages" (click)="changeInput(1)" type="button"
                    class="btn btn-primary btn-circle btn-xl">>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <div class="row">
    <ng-container *ngFor="let auction of auctions">
      <div class="col-1">
        <div class="h-100 text-center">
          <input class="h-50 w-50 inline" type="checkbox" [checked]="selectedAuctions.includes(auction.id)" (click)="selectAuction(auction.id)"/>
        </div>
      </div>
      <div class="col-11">
        <mat-card appMaterialElevation class="rounded-0 auction-card">
          <mat-card-content class="h-100">
            <div class="row h-100">
              <div class="col-2">
                <div>
                  <app-image [path]="auction.photoUrl"></app-image>
                </div>
              </div>
              <div class="col-10 position-relative">
                <div class="row">
                  <div class="col-8">
                    <mat-card-title class="mt-2 text-left">{{auction.title}}</mat-card-title>
                  </div>
                  <div class="col-4">
                    <h1 class="text-center m-0 text font-weight-bold pt-1">
                      {{auction.price|currency:"zł": true|splitCurrency:auction.price}}
                    </h1>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col-7">
                    <div class="row">
                      <div class="col-3">
                      <button class="btn btn-info text-center w-100" (click)="openAuctionPage(auction)">{{'myAuction.preview' | translate}}</button>
                      </div>
                      <div class="col-3">
                      <button class="btn btn-info text-center w-100" (click)="editAuction(auction)">{{'myAuction.edit' | translate}}</button>
                      </div>
                      <div class="col-3">
                      <button class="btn btn-info text-center w-100" (click)="extendAuctionTime(auction)">{{'myAuction.extend' | translate}}</button>
                      </div>
                      <div class="col-3">
                        <button class="  btn btn-info text-center">{{'myAuction.statistics' | translate}}</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-5">
                    <div class="row">
                      <div class="col-4 text-center">
                        {{'myAuction.createDate' | translate}}
                        {{auction.createdDate| date:'mediumDate'}}
                      </div>
                      <div class="col-8 text-center">
                        {{'myAuction.expiredDate' | translate}} <br>
                        {{auction.expiredDate| date:'short'}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>
