<script src="../../app-routing.module.ts"></script>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-10 col-md-7 col-lg-5 mt-3">
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && signIn()" novalidate class="feedback-form">
        <!-- Username -->
        <div class="form-group">
          <label for="userName">{{'register.login' | translate}}</label>
          <input type="text"
                 id="userName"
                 class="form-control"
                 name="userName"
                 placeholder="{{'register.your-login' | translate}}"
                 [(ngModel)]="model.login"
                 #userName="ngModel"
                 required minlength="5"
                 [ngClass]="{ 'is-invalid': f.submitted && userName.invalid }"
                 required/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && userName.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="userName.errors?.required">{{'register.isEmpty' | translate}}</div>
            <div *ngIf="userName.errors?.minlength">{{'register.min-field-length-five' | translate}}</div>
          </div>
        </div>
        <!-- Password -->
        <div class="form-group">
          <label for="password">{{'register.password' | translate}}</label>
          <input type="password"
                 id="password"
                 class="form-control"
                 name="password"
                 placeholder="{{'register.your-password' | translate}}"

                 [(ngModel)]="model.password"
                 #password="ngModel"
                 required minlength="7"
                 [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                 required/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && password.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="password.errors?.required">{{'register.isEmpty' | translate}}</div>
            <div *ngIf="password.errors?.minlength">{{'register.min-field-length-seven' | translate}}</div>
          </div>
        </div>
        <!-- Email -->
        <div class="form-group">
          <label for="email">{{'register.email' | translate}}</label>
          <input type="text"
                 id="email"
                 class="form-control"
                 name="email"
                 placeholder="{{'register.your-email' | translate}}"
                 [(ngModel)]="model.email"
                 #email="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                 required email/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && email.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="email.errors?.required">{{'register.isEmpty' | translate}}</div>
            <div *ngIf="email.errors?.email">{{'register.valid-email' | translate}}</div>
          </div>
        </div>
        <!-- Name -->
        <div class="form-group">
          <label for="firstName">{{'register.first-name' | translate}}</label>
          <input type="text"
                 id="firstName"
                 class="form-control"
                 name="firstname"
                 placeholder="{{'register.your-name' | translate}}"
                 [(ngModel)]="model.firstName"
                 #firstName="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }"
                 required/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && firstName.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="firstName.errors?.required">{{'register.isEmpty' | translate}}</div>
          </div>
        </div>
        <!-- lastname -->
        <div class="form-group">
          <label for="lastName">{{'register.last-name' | translate}}</label>
          <input type="text"
                 id="lastname"
                 class="form-control"
                 name="lastname"
                 placeholder="{{'register.your-last-name' | translate}}"
                 [(ngModel)]="model.lastName"
                 #lastName="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
                 required/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && lastName.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="lastName.errors?.required">{{'register.isEmpty' | translate}}</div>
          </div>
        </div>
        <button type="submit" class="btn btn-info pull-right float-right" [disabled]="isRequestPending">
          <span> {{'register.create-account' | translate}}</span>
        </button>
      </form>
    </div>
  </div>
  <mat-spinner *ngIf="isRequestPending" class="spinner-center"></mat-spinner>
</div>
