<div class="row h-100">
  <div class="col-6">
    <input class="form-control w-100 h-100" type="text" placeholder='{{"search.looking" | translate}}'>
  </div>
  <div class="col-4">
    <mat-select  class="form-control w-100">
      <mat-option>Option1</mat-option>
      <mat-option>Option2</mat-option>
      <mat-option>Option3</mat-option>
    </mat-select>
  </div>
  <div class="col-2">
    <button type="button" class="w-100 h-100 btn btn-primary">{{"search.Search" | translate}}</button>
  </div>
</div>
