<div class="modal-header">
  <h4 class="modal-title text-center">{{'dialog.title' | translate}}</h4>
  <fa-icon class="close-icon" [icon]="faRemove" (click)="dismiss()"></fa-icon>
</div>
<div class="modal-body">
  <textarea class="form-control msg" type="text" [(ngModel)]="content"></textarea>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary float-left" (click)="decline()">{{'dialog.cancel' | translate}}</button>
  <button type="button" class="btn btn-danger float-right" (click)="save()">{{'dialog.send' | translate}}</button>
</div>
