img {
  object-fit: contain !important;
  display: block;
  position: absolute;
  height: 80% !important;
  width: 80% !important;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
mat-card {
  box-shadow: none !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
