<div class="container">
  <div *ngFor="let auction of auctions">
    <mat-card appMaterialElevation class="rounded-0" (click)="openAuctionPage(auction)">
      <mat-card-content class="h-100">
        <div class="row h-100">
          <div class="col-4">
            <!--<mat-card>-->
            <div>
              <app-image [path]="auction.photoUrl"></app-image>
            </div>
            <!--  </mat-card>-->
          </div>
          <div class="col-8 position-relative">
            <mat-card-title class="mt-2 text-left">{{auction.title}}</mat-card-title>
            <h1 class="text-right pr-5 m-0 text font-weight-bold pt-1">{{auction.price}}zł</h1>
            <h3 class="text-right pr-5 m-0 ">{{auction.city}}</h3>
            <div class="hide-params row position-absolute fixed-bottom font-weight-bold mb-2">
              <div class="col-md-4">
                <div class="text-center d-inline-block">
                  {{'auction.condition' | translate}}<br>{{auction.condition}}
                </div>
              </div>
              <div class="col-md-4  text-left">
                <div class="text-center d-inline-block">
                  {{'auction.date' | translate}}<br>{{auction.createdDate | date}}
                </div>
              </div>
              <div class="col-md-4 text-left">
                <div class="text-center d-inline-block">
                  {{'auction.views' | translate}}<br>{{auction.viewers}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
