<div>
  <div *ngFor="let auction of auctions">
    <mat-card appMaterialElevation class="rounded-0" (click)="openAuctionPage(auction)">
      <mat-card-content class="h-100">
        <div class="row h-100">
          <div class="col-4">
            <div>
              <app-image [path]="auction.photoUrl"></app-image>
            </div>
          </div>
          <div class="col-8 position-relative">
            <mat-card-title class="mt-2 text-left font-size">{{auction.title}}</mat-card-title>
            <p
              class="text-right pr-5 m-0 text font-weight-bold pt-1 font-size">{{auction.price|currency:"zł": true|splitCurrency:auction.price}}</p>
            <p class="text-right pr-5 m-0 font-size">{{auction.city?.name}}</p>
            <div class="hide-params row position-absolute fixed-bottom ">
              <div class="col-md-4">
                <div class="text-center d-inline-block">
                  {{'auction.condition' | translate}}<br>{{auction.condition}}
                </div>
              </div>
              <div class="col-md-4  text-left">
                <div class="text-center d-inline-block">
                  {{'auction.date' | translate}}<br>{{auction.createdDate | date}}
                </div>
              </div>
              <div class="col-md-4 text-left">
                <div class="text-center d-inline-block">
                  {{'auction.views' | translate}}<br>{{auction.viewers}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
