.w-90-center {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

mat-form-field {
  border-radius: 35px !important;
}

mat-card {
  margin-top: 2rem;
}

.image {
  min-height: 210px;
}

.submit {
  background-color: lightgrey;
  min-height: 50%;
  &:hover {
    cursor: pointer;
  }
}

::ng-deep .mat-card {
  border: 55px solid #000;
  border-radius: 35px !important;
  border: #000 !important;
}

textarea {
  border-radius: 35px !important;
}

input {
  border-radius: 35px !important;
}

mat-select {
  border-radius: 35px !important;
}

@media screen and (max-width: 800px) {
  .w-50 {
    width: 75% !important;
  }
  .w-25 {
    width: 50% !important;
  }
}
.selected {
  ::ng-deep .mat-card {
    border: 1px solid red !important;
  }
}

.submit {
  height: 10%;
}

/*
.dropdown_btn {
  width: 20px;
  height: 24px;
  margin-right: -20px;
  float: right;
  display: inline-block;
  cursor: pointer;
  background-color: red;
}
*/
