<div class="main-container mt-5">
  <div class="row app-container">

    <!--Contact list section-->
    <div class="col-12 col-md-4 side">
      <div class="side-mainArea">
        <!--contacts section-->
        <div class="tab-content">
          <div class="tab-pane active" id="chat">
            <div class="row sideBar">
              <!--contact component-->
              <app-contact (selectedConversation)="receiveSelectedConversation($event)" [contacts]="conversations" ></app-contact>
            </div>
          </div>
          <div class="tab-pane fade" id="search">
            <!--contact component-->
            <app-contact [contacts]="conversations" ></app-contact>
          </div>
        </div>
      </div>
    </div>
    <!--main chat section-->
    <div class="col-12 col-md-8 conversation">

      <!--header section-->
      <div class="row heading heading-container">
        <div class="col-sm-11 col-md-11 col-xs-11">
          <div class="heading-contact-container">
            <div class="heading-avatar">
              <div class="heading-avatar-icon">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png">
              </div>
            </div>
            <div class="heading-name">
              <a class="heading-name-details">{{selected?.name}}</a>
            </div>
          </div>
        </div>
      </div>

      <!--messages section-->
      <div class="row message" id="conversation" (click)="updateDataAfterSelection()">
        <div id="scroller" class="col-12 col-md-12 sideBar">
          <ng-container *ngIf="selectedMessages">
            <ng-container *ngFor="let msg of selectedMessages">
              <app-received-message *ngIf="!msg.isYours" [date]="msg.sentDate"
                                    [message]="msg.content"></app-received-message>
              <app-sent-message *ngIf="msg.isYours" [date]="msg.sentDate" [message]="msg.content"></app-sent-message>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <!--reply section-->
      <div class="row reply" (click)="updateDataAfterSelection()">
        <div class="col-9 col-sm-9 reply-main">
          <textarea class="form-control" rows="1" id="comment" (keyup.enter)="sendMessage()" [(ngModel)]="msg" placeholder="write a message..."></textarea>
        </div>
        <div class="col-3 col-sm-2 reply-send">
          <button type="button" class="btn btn-info btn-send" (click)="sendMessage()">Send</button>
        </div>
      </div>
    </div>

  </div>
</div>

