<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title text-center w-100 font-weight-bold">{{ 'dialog.confirmation' | translate }}</h4>
  </div>
  <div class="modal-body">
    {{ message | translate}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="decline()">{{ 'dialog.cancel-decision' | translate  }}</button>
    <button type="button" class="btn btn-primary" (click)="accept()">{{ 'dialog.confirm' | translate  }}</button>
  </div>
</div>
