.skip {
  .col-3:first-child {
    margin-left: 0;
    padding-left: 0;
    width: calc(25% - 15px);
  }
}

.skip {
  .col-3:last-child {
    margin-right: 0;
    padding-right: 0;
    width: calc(25% - 15px);
  }
}



@media screen and (max-width: 768px) {
  .remove-padding {
    padding: 0;
  }
}
