<div class="container">
  <div class="row">
    <div class="col-3">
      <app-filter-bar></app-filter-bar>
    </div>
    <div class="col-9">
      <ng-container *ngIf="!this.noContent">
        <div class="row" #div1>
          <ng-container *ngIf="topAuctions?.length === 4">
            <div [ngStyle]="{'height.px': div1.offsetWidth / 4 }"
                 class="col-3 w-100 mt-3 nopadding" *ngFor="let auction of topAuctions">
              <app-auction-base [auction]="auction"></app-auction-base>
            </div>
          </ng-container>
        </div>
        <div class="mt-3">
          <app-pagination-bar [numberOfAuctions]="numberOfAuctions"></app-pagination-bar>
        </div>
        <div>
          <app-auction-list [auctions]="auctions"></app-auction-list>
        </div>
        <div class="row float-right mt-3 mr-2">
          <app-pagination-short-bar [numberOfAuctions]="numberOfAuctions"></app-pagination-short-bar>
        </div>
      </ng-container>
      <ng-container *ngIf="this.noContent">
        <mat-card class="mt-3">
          <mat-card-title class="text-center">{{"sort.noContent" | translate}}</mat-card-title>
        </mat-card>
      </ng-container>


    </div>
  </div>
</div>

