<div class="container mt-4">
  <div class="row justify-content-center">
      <form autocomplete="new-password" name="form" #f="ngForm" (ngSubmit)="f.form.valid && changePassword()" novalidate class="feedback-form">
        <div class="form-group">
          <label for="old-password">{{'register.login' | translate}}</label>
          <input type="text"
                 id="old-password"
                 class="form-control"
                 name="old-password"
                 placeholder="{{'register.your-login' | translate}}"
                 [(ngModel)]="model.oldPassword"
                 minlength="5"
                 #pp="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && pp.invalid }"
                 required/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && pp.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="pp.errors?.required">{{'register.isEmpty' | translate}}</div>
            <div *ngIf="pp.errors?.minlength">{{'register.min-field-length-five' | translate}}</div>
          </div>
        </div>
        <!-- Password -->
        <div class="form-group">
          <label for="password">{{'register.password' | translate}}</label>
          <input type="password"
                 id="password"
                 class="form-control"
                 name="password"
                 placeholder="{{'register.your-password' | translate}}"

                 [(ngModel)]="model.newPassword"
                 #password="ngModel"
                 minlength="7"
                 [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                 required/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && password.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="password.errors?.required">{{'register.isEmpty' | translate}}</div>
            <div *ngIf="password.errors?.minlength">{{'register.min-field-length-seven' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password-repeat">{{'register.password' | translate}}</label>
          <input type="password"
                 id="password-repeat"
                 class="form-control"
                 name="password-repeat"
                 placeholder="{{'register.your-password' | translate}}"

                 [(ngModel)]="repeatPassword"
                 #password1="ngModel"
                 minlength="7"
                 [ngClass]="{ 'is-invalid': f.submitted && password1.invalid }"
                 required/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && password1.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="password1.errors?.required">{{'register.isEmpty' | translate}}</div>
            <div *ngIf="password1.errors?.minlength">{{'register.min-field-length-seven' | translate}}</div>
          </div>
        </div>
        <div class="row">
          <label class="form-check-label ml-2 cursor-pointer" routerLink="/account/remind-password">
            <span>{{'register.remind.password' | translate}}</span>
          </label>
        </div>
      </form>
    </div>
</div>
