<div class="categories d-flex justify-content-center">
  <button type="button" class="btn btn-dark">{{'categories.phone' | translate}}</button>
  <button type="button" class="btn btn-dark">{{'categories.pc' | translate}}</button>
  <button type="button" class="btn btn-dark">{{'categories.tablet' | translate}}</button>
  <button type="button" class="btn btn-dark">{{'categories.tv' | translate}}</button>
  <button type="button" class="btn btn-dark">{{'categories.consoleGames' | translate}}</button>
  <button type="button" class="btn btn-dark">{{'categories.photo' | translate}}</button>
</div>
